html, body {
	margin: 0 auto;
	display:table;
}
#conteudo{
	margin-top:30%;
	height: 300px;
	width:500px;

}
#notificacao{
	border:1px solid black;
	color:red;
}
#check{
	width:150px;
	height:60px;
}
tr{
	border:1px solid;
}
td{
	border:1px solid;
}